
body{
    margin:0;
    place-items: center;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    justify-content: center;
}

.container{
    display: flex;
    gap:4rem;
}
input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type = "submit"]{
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    margin-left: 20px;
    margin-top: 10px;
    font-family:sans-serif;
    background-color: rgb(119,244,6);
    border-radius: 4px;
    border-color: aliceblue;
    box-shadow: 1px 1px black;
}

button[type = "submit"]:hover{
    border-color: white;
}
h1{
    font-family: 'Poppins', sans-serif;
}
p{
    margin-block-start: 0;
    font-size: 12px;
    color: red;
}


@media (max-width: 640px){
    
}
