.parent{
    display: flex;
    flex-direction:row;
    gap:1rem;
    margin: 1rem;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: center;   
    
}
.child1{
    border-radius:20px;
    height: 400px;
    width: 500px;
    background-color: antiquewhite;
    flex-grow: 2;
    background-color:#E7E7E7;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 2rem;
    padding-bottom: 2px;
}
.para{
    font-size:1rem;   
    padding:1.8rem;
    padding-top:5px;
    flex-grow: 1;
}
.social{
   display: flex;
}
.child2{
    border-radius:20px;
    height: 400px;
    width:  400px; 
    background-color: antiquewhite;
    background-color: #E7E7E7;
    display:flex;
    justify-content: end;
    align-items: end;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.child{
    border-radius:20px;
    height: 400px;
    width:  400px; 
    background-color: #bbaed5;
    display:flex;
    box-shadow: rgba(11, 11, 24, 0.2) 0px 7px 29px 0px;      
}

.child:hover{
    background-color: #614f98;
}

/* work section */
.work{
    display: flex;
    gap:1rem;
    margin: 20px;
}
.work-heading{
    font-family: 'Poppins', sans-serif;
    margin-left: 4.3rem;
    margin-top: 6rem;
    font-size:2.8rem;
}

/* work section end here */
hr{
    margin-left: 14rem;
    margin-right: 14rem;
    color:black;
    display: block; 
}
.child-heading{
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 640px) {
    .Heading {
        font-size: 1.5rem; /* Example: Adjust the value as needed */
    }

    .para {
        font-size: 1rem; /* Example: Adjust the value as needed */
    }
    .footer1{
        font-size: xx-small;
    }
    /* Add more responsive font size adjustments as needed */
    .parent{
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
    .child{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .work-heading{
        font-size: 1rem;
        text-align:left;
        margin-bottom: 0.2rem;
    }
    .subclass{
        width: 2rem;
    }
    
}



